#root, .App, .Site, html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.Site{
  display: flex;
  flex-direction: column;
}
.Header{
  height: 120px;
  background-color: #0F204D;
}
.MenuItem a:link {
  color: #fff
}
.Content{
  flex-grow: 1
}
.Footer{
  height: 120px;
  background-color: #0F204D;
}
.Home{
  background-color: #FFFFF7;
  flex-grow: 1;
}
